.modal-title {
  text-align: center;
  margin-top: 25%;
}
.btn {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  background-color: #2196f3;
  margin: 0 auto;
  display: block;
}
